@page "/profile"

<PageTitle>Profile</PageTitle>

@using BlazorControlwork.Data

@inject NavigationManager manager
@inject SingletonServise servise

<section style="background-color: #eee;">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img @onclick="ChangePhoto" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">@user.Login</h5>
                        
@*                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-primary">Follow</button>
                            <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">First name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@user.FirstName</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Last name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@user.LastName</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                            <p class="text-muted mb-0">@user.Email</p>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" id="LogOut"
                    class="btn btn-danger" @onclick=LogOut>
                Log out
            </button>
        </div>
    </div>
</section>

@code {
    private User user;

    protected override void OnInitialized()
    {
        user = servise.GetUser();
    }

    private void ChangePhoto()
    {
        FileSystemService fs = new FileSystemService();
        fs.UploadImageToDb();
    }

    private void LogOut()
    {
        servise.SetUser(null);
        manager.NavigateTo("authorization");
    }

}
