@inherits LayoutComponentBase

@inject SingletonServise servise

<PageTitle>BlazorControlwork</PageTitle>


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
            @if (servise.GetUser() == null)
            {
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            }
            else
            {
                <a href="Profile">@servise.GetUser().FirstName @servise.GetUser().LastName</a>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

